{
	acme_dns cloudflare {env.CF_TOKEN}
}

naive.harus.cloud {
	@naive_proxy {
		path /o6UXeTQRdN1Mdzur
	}
	handle @naive_proxy {
		forward_proxy {
			basic_auth xia1997x fbfb23
			hide_ip
			hide_via
			probe_resistance
		}
	}
	handle {
		respond "Error: Invalid or Missing API Key" 401 {
			close
		}
	}
}
