{
	acme_dns cloudflare {env.CF_TOKEN}
	order forward_proxy before handle
}

:443, ${DOMAIN_NAME} {
	forward_proxy {
		basic_auth ${USERNAME} ${PASSWORD}
		hide_ip
		hide_via
		probe_resistance
	}
	handle {
		respond "Error: Invalid or Missing API Key" 401 {
			close
		}
	}
}
