{
	acme_dns cloudflare {env.CF_TOKEN}
	order forward_proxy before handle
}

:443, ${DOMAIN_NAME} {
	header {
		-Server
		-Alt-svc
		-X-Powered-By
		-Via
	}
	forward_proxy {
		basic_auth ${USERNAME} ${PASSWORD}
		hide_ip
		hide_via
		probe_resistance
	}
	handle {
		respond `{"error": "Invalid or missing API key", "code": 401}` 401 {
			close
		}
	}
}
